*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
 background:black ;
 color: white;
 font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container{
    display: flex;
    height: calc(100vh - 80px);
}
.sidebar {
      width: 220px;
      background-color: #000;
      padding: 20px 15px;
      border-right: 1px solid #222;
    }
.logo-section{
    font-size: 20px;
      font-weight: bold;
      margin-bottom: 40px;
      display: flex;
      align-items: center;
      gap: 8px;
}    
.logo{
    width: 30px;
    height: 30px;
    background: rgb(14, 175, 234);
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #000;
}
.logo:hover{
       background-color: rgb(223, 7, 7);
    }
.nav {
      margin-bottom: 25px;
    }
.nav-item {
      margin-bottom: 10px;
      font-size: 15px;
      color: grey;
      cursor: pointer;
      background: white;
      border-radius: 4px;
      padding: 5px;
    }
.nav-item:hover {
      color: rgb(14, 175, 234);
    } 
.playlist-item{
    margin-bottom: 10px;
      font-size: 15px;
      color: grey;
      cursor: pointer;
      background: white;
      border-radius: 4px;
      padding: 5px;
}
.myplaylist{
    margin-bottom: 10px;
    background: rgb(14, 175, 234);
    text-align: center;
    border-radius: 4px;
    font-family: 'Times New Roman', Times, serif;
} 

.myplaylist:hover{
       background-color: rgb(223, 7, 7);
    } 
.playlist-item:hover{
 color: rgb(14, 175, 234);
 
} 

.main {
      flex: 1;
      background: #121212;
      padding: 20px;
      overflow-y: auto;
      overflow-x: auto;
    }

    .top-bar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;
    }

    .arrows {
      display: flex;
      gap: 10px;
    }

    .arrow-btn {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      border: none;
      background-color: #000;
      color: #fff;
      cursor: pointer;
    }

    .profile {
      display: flex;
      align-items: center;
      gap: 8px;
      background-color: rgb(14, 175, 234);
      padding: 4px 10px;
      border-radius: 20px;
      font-size: 14px;
      cursor: pointer;
    }
    .profile:hover{
       background-color: rgb(223, 7, 7);
    }

    .profile-circle {
      width: 22px;
      height: 22px;
      border-radius: 50%;
      background-color: #333;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 12px;
    }
     .section {
      margin-bottom: 25px;
    }

    .section-title {
      font-size: 18px;
      margin-bottom: 15px;
      font-weight: bold;
    }

    .card-row {
      display: flex;
      flex-wrap: wrap;
      gap: 15px;
    }

    .card {
      width: 150px;
      background-color: #181818;
      border-radius: 8px;
      padding: 10px;
      cursor: pointer;
    }

    .card:hover {
      background-color:rgb(14, 175, 234);
    }

    .card-image {
      width: 100%;
      height: 130px;
      background-color: #333;
      border-radius: 6px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 30px;
      margin-bottom: 8px;
    }

    .card-name {
      font-size: 14px;
      font-weight: 600;
      margin-bottom: 4px;
    }

    .card-desc {
      font-size: 12px;
      color: #b3b3b3;
    }
     @media (max-width: 600px) {
      .sidebar {
        display: none;
      }

   